//$primary-color: #3498db;
//
body {
  //margin: 50px;
  text-align: center;
  background-color: gainsboro;

}

header {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  background-color: dodgerblue;
  height: 60px;

  p {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
}

.header__button {
  button {
    margin:10px 22px 5px 5px;
  }
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

#outlined-basic {
}

.button {
  margin: 40px 0;
}
.MuiPaper-root {
  margin: 20px auto;
  max-width: 1300px;
}

.card {
  width: 300px;
  height: 600px;
  background-color: green;
}